<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Similar to other tools, we have designed our tool to accept all the inputs from the users and convert them into the appropriate outputs along with the processes users will look for such as</p>
            </div>
            <div class="col-lg-4">
                <div class="padding">
                    <ul>
                        <li>Enterprise model</li>
                        <li>Application planning</li>
                        <li>Network planning</li>
                        <li>Security planning</li>
                        <li>Project planning etc</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                This tool is mainly focused on the small scale business industries and also some of the government minor/small projects. Our main advisor/planner should help understand our users to get good knowledge of what they are getting into.
            </div>
        </div>
    </div>
</section>
